.top-header {
  display: flex;
  height: 400px;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(95, 93, 93, 0.906);
  background-image: url(http://www.transparenttextures.com/patterns/soft-circle-scales.png);
}

.name {
  display: flex;
  justify-content: center;
  color: white;
}

img {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

@media only screen and (min-width: 1024px) {
  .top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: flex-end;
    margin-top: 10em;
    margin-left: 3em;
    width: 30%;
  }
}
