nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
  font-family: "Bungee", cursive;
  font-size: 40px;
  position: fixed;
}

div i {
  color: red;
}

.new-tweet {
  margin-bottom: 0;
}

.right-side {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 22px;
}
